[mysqld]
character-set-server = utf8mb4          # 이모지까지 가능하게 encoding 설정
collation-server = utf8mb4_unicode_ci   # 문자열 비교 정확도를 위해서 encoding 설정
default-time-zone = Asia/Seoul          # DBMS서버 아시아/서울로 설정